@import '../../../styles/globals/mixins/breakpoints.scss';
@import '../../../styles/globals/variables/colors.scss';

.Main {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Back {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.5;
    }
    .Modal {
        background-color: $white;
        z-index: 100;
        display: flex;
        flex-direction: column;
        @include responsive-rule(width, 675px, 554px, 472px, 508px, 100%);
        @include responsive-rule(height, 454px, 388px, 388px, 418px, 100%);
        .TopNavigation {
            width: 100%;
            border-bottom: 1px solid $gray3;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include responsive-rule(height, 98px, 70px, 70px, 100px, 62px);
            .Title {
                font-family: 'ABC Arizona Flare Light';
                font-weight: 300;
                @include responsive-rule(font-size, 50px, 30px, 30px, 30px, 21px);
            }
            .Close {
                width: 24px;
                height: 24px;
            }
        }
        .Body {
            height: 100%;
            width: 100%;
            @include responsive-rule(padding, 64px 115px 30px 115px, 64px 115px 30px 115px, 64px 80px 30px 80px, 64px 66px 30px 66px, 131px 16px 30px 16px);
            .ButtonsContainer {
                margin-top: 24px;
                width: 100%;
                display: grid;
                @include responsive-rule(grid-template-columns, repeat(2, 1fr), repeat(2, 1fr), repeat(2, 1fr), repeat(2, 1fr), repeat(1, 1fr));
                .FirstButton {
                    @include responsive-rule(grid-area, auto, auto, auto, auto, 1 / 1);
                }
            }
            .ErrorMessage{
                color:$red;
                margin-top: 10px;
                font-family: "Neue Haas Unica Pro";
                font-weight: 400;
                font-size: 16px;
                text-align: center;
            }
        }
    }
}